<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table border="1px">
      <tr>
        <th>Regno</th>
        <th>Name</th>
        <th>Email</th>
        <th>Branch</th>
        <th>Marks</th>
        <th>Mobile</th>
      </tr>
      <% rows.forEach((row)=>{ %>
        <tr>
          <td><%=row.regno%></td>
          <td><%=row.name%></td>
          <td><%=row.email%></td>
          <td><%=row.branch%></td>
          <td><%=row.marks%></td>
          <td><%=row.mobile%></td>
        </tr>
      <% }) %>
    </table>
    <!--<p>Welcome to <%= title %></p> -->
  </body>
</html>
